<!DOCTYPE html>
<html>
  <head>
    <title>Angular sidebar</title>
    <link type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="./angular-sidebar.css" rel="stylesheet">

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.min.js"></script>
    <script type="text/javascript" src="./angular-sidebar.js"></script>
  </head>
  <body ng-app="angular-sidebar">
    <div class="sidebar">
      <div class="sidebar-right">Right sidebar</div>
      <div class="sidebar-left">Left sidebar</div>
      <div class="sidebar-center">
        <button type="button" class="btn btn-default" ng-click="toggle_left_sidebar()">Toggle left</button>
        <button type="button" class="btn btn-default" ng-click="toggle_right_sidebar()">Toggle Right</button>
      </div>
    </div>
  </body>
</html>